/*
Marcellino Modesto
styles.css
12/1/2025
*/

/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Style rules for nav*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6A8987;
}

ul li {
  float: right;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin-right: 35px;
  margin-top: 7px;
  text-decoration: none;
  font-size: 3em;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

ul li a:hover:not(.active) {
  background-color: #607c8e;
}

ul li a.active {
  background-color: #607c8e;
}

#logo {
float: left;
display: block;
color: white;
text-align: center;
margin-left: 10%;
padding: 14px 16px;
text-decoration: none;
font-weight: 400;
font-size: 1.5em;
font-style: normal;
font-family: "Science Gothic", sans-serif;

}

/*Style rules for hero image/banner image*/
#container  {
  height: auto;
  position: relative;
}

.hero_image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#banner {
  position: relative;
}

#banner_image {
  width: 100%;
  height: auto;
}

/*Style rules for body*/

body  {
    font-family: "Outfit", sans-serif;
}

/*Style rules for main content*/


section {
  margin: 30px;
}

section h1 {
  text-align: center;
}

section h2  {
  text-align: center;
}

section h3{
  text-align: center;
}

main h2 {
  margin-left: 20px;
  margin-top: 20px;
}


.grid {
 display: grid;
 grid-template-columns: auto auto;
 grid-column-gap: 2em;
 padding-bottom: 2%;
 margin: 30px;
 line-height: 2.0;
}

.gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-bottom: 2%;
}

.img {
  width: 430px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

figcaption {
  padding: 1px;
  margin: 2px;
 }

/*Specific style rules for about page*/
#about-text {
  margin-top: 30px;
}

#about-text h4 {
  margin-top: 30px;
}

#about_grid {
 display: grid;
 grid-template-columns: auto auto;
 grid-column-gap: 2em;
 padding-bottom: 2%;
 margin: 30px;
 line-height: 2.0;
 text-align: center;
}

#about_image {
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*Style rules for footer*/
  footer {
  font-size: 0.85em;
  margin-top: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 0%;
  padding-right: 0%;
  background-color: #6A8987;
  text-align: center;
  font-family: "Montserrat", sans-serif;

}

footer a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

/*Style rules for table*/

table {
    border: 10px #607c8e;
    border-collapse: collapse;
    margin: 0 auto;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 1%;
}

th, td {
    border: 1px solid #607c8e;
    padding: 1%;
}

th {
    background-color: #6A8987;
    color: black;
    font-size: 1.15em;
}

  /*Style rules for Mobile Viewport*/
@media screen and (max-width:600px) {

  .mobile-nav {
    display: inline-block;
  }

.grid {grid-template-columns: auto;
text-align: center;}

.gallery {
  grid-template-columns: auto;
  gap: 1em;
  text-align: center;
  margin-top: 50px;
}

.img {
  width: 250px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#about_grid{
    grid-template-columns: auto;
  }

#about_image {
    width: 250px;
    height: 500px;
}
/*Style rules for mobile nav*/
ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 7px;
  margin-right: 35px;
  margin-top: 7px;
  text-decoration: none;
  font-size: 1.0em;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

/*Styles rules to show mobile class and hide desktop class*/

.mobile_image {
    display: none;
}

.mobile-tab {
    display: block;
  }

.mobile-tab_hero {
    display: none;
}

.mobile {
  display: block;
}

.mobile h1, .mobile h3 {
    text-align: center;
    margin-bottom: 10px;
}

.desktop {
    display: none;
}

#logo {
  display: none;}

  #about2_image {
  display: none;

}

}

/* Tablet Viewport: Style rules for nav area */

/*Media Query for Tablet Viewport*/
@media screen and (min-width: 620px), print {

.gallery {
    grid-template-columns: auto auto;
    gap: 1em;
    text-align: center;
   margin-top: 50px;
}

.img {
    width: 250px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.grid {
    grid-template-columns: auto auto;
    text-align: center;}

#about_grid{
    grid-template-columns: 1fr 1fr;
}

#about_image {
    width: 300px;
    margin-top: 20px;
}

#about2_image {
    width: 300px;
    margin-top: 400%;
}

#about_text {
line-height: 0;
  }

  ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 7px;
  margin-right: 35px;
  margin-top: 15px;
  text-decoration: none;
  font-size: 1.0em;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

#logo {
  font-size: 1em;
}


/*Styles rules to show tablet class and hide desktop class*/

.mobile-tab {
    display: block;
}

.mobile-nav {
    display: inline-block;
}

.mobile {
  display: none;
}

 .desktop {
    display: none;
}

#about2_image {
  display: inline-block;

}
}



/*Media Query for Desktop Viewport*/
@media screen and (min-width:1000px), print{
.grid {grid-template-columns: auto auto;}

.gallery {
  grid-template-columns: auto auto auto;
  gap: 1em;
  text-align: center;
  margin-top: 50px;
}

.img {
  width: 250px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#about_image {
    width: 500px;
}

/*Style rules for nav*/
ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin-right: 35px;
  margin-top: 7px;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Roboto", sans-serif; }

#logo {
  font-size: 1.5em;
  }

/* Tablet Viewport: Show desktop class, hide mobile class*/

.mobile-tab {
    display: none;
}

.mobile-tab_hero {
    display:inline-block ;
}

.mobile-nav {
    display: inline-block;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

#about2_image {
  display: none;
}

}



/*Media Query for Large Desktop Viewports*/
@media screen and (min-width:1921px) {
body {
    background: linear-gradient(#f6eee4, #6A8987, #f6eee4);
}

.img {
  width: 450px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#wrapper{
    width: 1900px;
    margin: 0 auto;
    padding: 20px;
}

main {
    background-color: #fff;
}

/*Style rules for nav*/
ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin-right: 35px;
  margin-top: 7px;
  text-decoration: none;
  font-size: 3em;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

/*Styles rules to show desktop class and hide mobile-tab class*/
   .mobile-tab{
    display: none;
}

.mobile-nav {
    display: inline-block;
}

.mobile {
  display: none;
}

.desktop{
    display: block;
}

#about2_image {
  display: none;
}

}

/*Media Query for Print*/
@media print {
  body {background-color: white;
  color: black;}
}
