/*
Marcellino Modesto
styles.css
12/1/2025
*/

/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Style rules for nav*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6A8987;
}

ul li {
  float: right;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin-right: 35px;
  margin-top: 7px;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

ul li a:hover:not(.active) {
  background-color: #607c8e;
}

ul li a.active {
  background-color: #607c8e;
}

#logo {
float: left;
display: block;
color: white;
text-align: center;
margin-left: 10%;
padding: 14px 16px;
text-decoration: none;
font-weight: 400;
font-size: 1.5em;
font-style: normal;
font-family: "Science Gothic", sans-serif;

}

/*Style rules for hero image/banner image*/
#container  {
  height: auto;
  position: relative;
}

.hero_image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#container h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -250%);
    color: white;
    font-size: 2.0em;
    text-shadow: 2px 2px 4px #000000;
}
#banner {
  position: relative;
}

#banner_image {
  width: 100%;
  height: auto;
}

/*Style rules for body*/
body  {
    font-family: "Outfit", sans-serif;
}

/*Style rules for main content*/

.row {
    width: 100%;
    overflow: auto;
}

.row h1 {
  text-align: center;
  margin: 20px;
}

section {
  margin: 30px;
}

section h2  {
  text-align: center;
}

/*Specific code for hobby.html*/
.grid {
 display: grid;
 grid-template-columns: auto auto;
 grid-column-gap: 2em;
 padding-bottom: 2%;
 margin: 30px;
 line-height: 2.0;
}

.img {
  width: 300px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*Specific rules for index.html*/
.index {
  width: 30%;
  float: left;
  text-align: center;
  margin: 0 1.5%;
}

.index img  {
  width: 400px;
  height: 500px;
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.index figcaption {
  margin-top: 10px;
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
  padding: 15px;
  background-color: lightgray;
  line-height: 2.0;
}

/*Specific style rules for about page*/
#about {
  text-align: center;
  padding: 60px 400px;
}

#about h1 {
  margin: 50px;
  font-weight: 500;
}

#about img {
  width: 600px;
  height: 400px;
  margin: 50px;
}

#about p {
margin: 30px;
line-height: 2.0;
}

/*Style rules for footer*/
  footer  {
  font-size: 0.85em;
  margin-top: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 0%;
  padding-right: 0%;
  background-color: #6A8987;
  text-align: center;
  font-family: "Montserrat", sans-serif;

}
footer a  {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

/*Style rules for table*/

table {
    border: 10px #607c8e;
    border-collapse: collapse;
    margin: 0 auto;
  }

  caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 1%;
  }

  th, td {
    border: 1px solid #607c8e;
    padding: 1%;
  }

  th {
    background-color: #6A8987;
    color: black;
    font-size: 1.15em;
  }

  /*Style rules for Mobile Viewport*/
@media screen and (max-width:599px) {
    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}
