/*
Marcellino Modesto
styles.css
12/1/2025
*/

/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Style rules for nav*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6A8987;
}

ul li {
  float: right;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin-right: 35px;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

ul li a:hover:not(.active) {
  background-color: #607c8e;
}

ul li a.active {
  background-color: #607c8e;
}

#logo{
float: left;
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-weight: bold;
font-size: 1.5em;
font-family: "Montserrat"
}

/*Style rules for hero image*/
.hero_image{
    width: 100%;
    height: 800px;
    object-fit: cover;
}

.container{
    width: 100%;
    height: 900px;
    position: relative;
}

.container h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -120%);
    color: white;
    font-size: 2.0em;
}

/*Style rules for body*/
body{
    font-family: "Outfit", sans-serif;
    background-color: #393a3f;
}

.row {
    width: 100%;
}

.wrapper {
  width: 30%;
  float: left;
  text-align: center;
  margin: 0 1.5%;
}

.wrapper img{
  width: 400px;
  height: 500px;
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
}

.wrapper figcaption
    {   
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
  padding: 15px;
  background-color: white;

}

/*Style rules for Mobile Viewport*/
@media screen and (max-width:600px){
    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

/*Style rules for footer*/
  footer{
  font-size: 0.85em;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 0%;
  padding-right: 0%;
  background-color: #6A8987;
  text-align: center;
  font-family: "Montserrat";
  
}
footer a{
  color: #000000;
  text-decoration: none;
}


